body {
    margin: 0;
}


html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    outline: 1px solid red !important;
}
.books {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 100%;
}

.row {
    background-color: #32de21;
    padding: 20px;
    margin: 20px;
    outline: 2px solid black;
    width: 300px;
    height: auto;
}

.read {
    background-color: #32de21;
}

.not-read {
    background-color: red;
}

.cell {
    font-size: 24px;
    padding: 5px;
}

.new-book {
    width: 300px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}